* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

$primary-dark: #003459;
$primary-light: #007ea7;
$rich-black: #00171f;

$color-deep-taupe: #7a6c5d;
$color-payneys-grey: #616d7a;
$platinum: #e6e4e1;
$blackOlive: #3f3e3c;


body {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #393e46;
}


li {
    list-style: none;
}

a {
  text-decoration: none;
}

 .navbar{
     height: 10vh;
     min-height: 50px;
     font-size: 18px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     justify-items: center;
     align-items: center;
     letter-spacing: 3px;
     font-weight: 600;
     background-color: #222831;
     a {
         color: #00adb5;
     }
 }

 .introduction {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),url(../images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    .intro-text {
        display: grid;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        grid-row: 1/2;
        align-self: end;
        margin-bottom: 2%;

        h1 {
            justify-self: center;
            align-self: end;
            color: #fff;
            font-size: 48px; 
        }

        p{
            text-align: center;
            align-self: start;
            font-size: 20px;
            color: #fff;
        }
    }

    
    .intro-buttons {
        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        grid-row: 2/3;
        .intro-projects, .intro-contact {
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            background: linear-gradient(
                rgba(0, 173, 181, 0.2),
                rgba(0, 173, 181, 0.2)
              );
            padding: 25px 80px;
            border: 2px solid #222831 !important;
            border-radius: 5px;
            display: inline-block;
            border: none;
            transition: all 0.4s ease 0s;
            margin: 0 10px;
            font-size: 18px;
            font-weight: 600;
        }
    
        .intro-projects:hover, .intro-contact:hover {
            border-color: #ffffff !important;
            color: #ffffff !important;
            letter-spacing: 1px;
            transition: all 0.4s ease 0s;
        }
    }

    @media screen and (max-width: 1200px){
        .intro-buttons {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 10px;

            .intro-projects-div{
                margin-bottom: 10px;
            }
        }
    }
    @media screen and (min-width: 1200px){
        .intro-text {
            width: 60%;
        }
    }
 }

 #projects-header {
    margin-top: 1em;
    letter-spacing: 3px;
    font-size: 40px;
    color: #00adb5;
    background-color: #222831;
    padding: 1em;
    text-align: center;
}

.hidden-project{
    display: none;
}

#project-item{
    text-align: center;
    padding: 100px;
    display: none;
    h1 {
        font-size: 32px;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    p{
        font-size: 18px;
    }

    .back-button {
        margin-top: 2em;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #00adb5;
        padding: 25px 70px;
        border-radius: 5px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
    }

    .back-button:hover {
        background: #222831;
        letter-spacing: 1px;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

#projects-wrapper {

}
 
#projects-list {
    background-color: #393e46;
    padding-top: 3em;

}


 #projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;
    gap: 4em;
    padding-top: 3em;
    padding-bottom: 4em;
    text-transform: uppercase;

    h1 {
        text-align: center;
        font-size: 32px;
        letter-spacing: 2px;
    }

    .project{
        background-color:#222831;
        transition: all 0.4s ease 0s;
        img {
            height: 230px;
            width: 100%;
        }

        .description {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 5em;
        }
    }
  
    .project:hover {
        cursor: pointer;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}


.contact{
    background-color: #393e46;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 100px;
    h1{
        text-transform: uppercase;
        margin-bottom: 15px;
        letter-spacing: 3px;
        font-size: 40px;
        color: #00adb5;
        background-color: #222831;
        padding: 1em;
    }

    p{
        margin-top: 2em;
        font-size: 18px;
    }

    .contact-button {
        margin-top: 2em;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #00adb5;
        padding: 25px 70px;
        border-radius: 5px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
    }

    .contact-button:hover {
        background: #222831;
        letter-spacing: 1px;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

footer {
    p {
        text-align: center;
        padding:2em;
        background-color: #222831;
    }
}

 